@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');
body { margin: 0; padding: 0;
	   font-family: 'Gamja Flower', cursive;
	   color: gray; }
ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}